<div class="main-container">
    <div id="header">
        <div class="round-button">
            <i class="material-icons button-icon">email</i>
        </div>
        <div class="round-button">
            <i class="material-icons button-icon">sms</i>
        </div>
        <div class="round-button">
            <img class="button-img" src="/assets/images/GitHub-Mark-64px.png" />
        </div>
        <div style="flex: 2"></div>
        <div class="main-title">
            <div class="title-kevinlee">
                Kevin <span class="little-lee">Lee</span>
            </div>
            <div class="title-thompson">
                Thompson
            </div>
        </div>
    </div>
    <div id="sidebar">
        <div #sideNav class="sidebar-menu">
            <ul class="nav-list">
                <li><a routerLink="/home" routerLinkActive="active-route">Home</a></li>
                <li><a routerLink="/projects" routerLinkActive="active-route">Projects</a></li>
                <li><a routerLink="/cedict" routerLinkActive="active-route">C-E Dict</a></li>
                <li><a routerLink="/games" routerLinkActive="active-route">Games</a></li>
                <li><a routerLink="/artwork" routerLinkActive="active-route">Artwork</a></li>
                <li><a routerLink="" routerLinkActive="">Last One</a></li>
            </ul>
        </div>
        <ng-container *ngIf="coolThing">
                <ng-container
                    *ngTemplateOutlet="svgOverlay; 
                                    context: {
                                        svg: dimens(document),
                                        cutout: dimens(sideNav),
                                        attrs: svgAttrs
                                    }">
                </ng-container>
        </ng-container>
        <!-- <svg id="overlay" #coolSvg *ngIf="coolThing" width="100vw" height="100vh" [attr.viewBox]="'0 0 ' + coolSvg.clientWidth + ' ' + coolSvg.clientHeight">
            <path [attr.d]="'M' + sideNav.getBoundingClientRect() +' h' + sideNav.clientWidth + ' v' + sideNav.clientHeight + ' h-' + sideNav.clientWidth + 'z'" stroke="#000" fill="#fff" />
        </svg> -->

        <ng-template #svgOverlay let-s="svg" let-c="cutout" let-a="attrs">
            <svg id="overlay"  [attr.width]="s.width" [attr.height]="s.height" [attr.viewBox]="[s.left, s.top, s.width, s.height].join(' ')">
                <path
                    id="cutout">
                    <animate
                        #overlayAnim
                        attributeName="d"
                        [attr.values]=
                            "rectPath(s.left, s.top, s.width, s.height) + ' ' + rectPath(c.left, c.top, c.width, c.height) + '; ' +
                            rectPath(s.left, s.top, s.width, s.height) + ' ' + rectPath(s.left, s.top, s.width, s.height)" 
                        dur="1000ms"
                    />
                    <animate
                        attributeName="fill"
                        values="#999; #fff; rgba(255,255,255,0)"
                        dur="1000ms"
                    />
                    <animate
                        attributeName="stroke"
                        values="#000; #fff"
                        dur="900ms"
                    />
                </path>
            </svg>
        </ng-template>
    </div>
	<main [@routerTransition]=getState(o)>
        <router-outlet #o="outlet"></router-outlet>
    </main>
</div>
